Source: virtualbox-extpack-installer
Section: net
Priority: optional
Maintainer: Simon Pascal Baur <simonbaur@0rca.ch>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3
Homepage: http://0rca.ch/

Package: virtualbox-extpack-installer
Architecture: all
Depends: virtualbox-5.0 (>= ${virtualbox:version}), wget
Description: VirtualBox extpack installer.
  Downloads and installs the extpack for the associated VirtualBox version.
